@import '../../styles/colors';

.form-login {
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr 0.5fr 1fr;
    width: 80%;
    margin: 20px;
    font-size: 1rem;

    .btn-login {
        grid-row: 7 / span 1;

        width: 40%;
        margin: 0 auto;
        background-color: $color-primary-1;
        color: #fff; // TODO: use variable
        border: 0;
        border-radius: 5px;
        padding: 5px 10px;

        &:hover {
            background-color: lighten($color-primary-1, $button-lighten-ammount);
        }

        &:active {
            position: relative;
            top: 1px;
        }
    }

    #login-email-label,
    #login-pw-label {
        align-self: center;
        justify-self: left;
    }

    #login-email-label {
        grid-row: 1 / span 1;
    }

    #login-email {
        grid-row: 2 / span 1;
    }

    #login-pw-label {
        grid-row: 4 / span 1;
    }

    #login-pw {
        grid-row: 5 / span 1;
    }
}
