.alert-details {
    height: 100%;
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    .alert-title {
        align-self: center;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        span.title {
            font-size: 20px;
            font-weight: 800;
        }

        a {
            font-size: 15px;
            text-decoration: underline;
            color: rgb(50, 50, 206);

            &:hover {
                color: rgb(118, 118, 255);
            }
        }
    }

    .price-history-graph {
        width: 90%;
        margin: 0 auto;
        overflow: hidden; /* or min-height: 0; */
        /* probably will need to specify height */
        flex-grow: 1;
    }

    .alert-config {
        display: flex;
        flex-direction: column;
        margin: 25px auto 50px;
        width: 70%;

        .lowest-price {
            margin: auto;
        }

        .form-edit-alert {
            display: grid;
            grid-template-rows: 1fr 0.5fr 1fr;
            grid-template-columns: auto 3fr 0.75fr;
            width: 100%;
            font-size: 0.9rem;

            input {
                justify-self: center;
                padding: 5px;
                box-sizing: border-box;
                text-align: right;
                width: 90%;
                border: 0;
                border-radius: 0;
                margin: 1px;
                background-color: hsl(234, 24%, 17%); // TODO
                color: #ccc;
            }

            .btn-ea {
                background-color: rgb(20, 57, 180);
                color: #ccc;
                border: 0;
                border-radius: 5px;
                padding: 5px 10px;
            }

            #ea-title-label,
            #ea-price-label {
                align-self: center;
                justify-self: right;
            }

            #ea-title-label {
                grid-row: 1 / span 1;
                grid-column: 1 / span 1;
            }

            #ea-price-label {
                grid-row: 3 / span 1;
                grid-column: 1 / span 1;
            }

            #ea-title {
                grid-row: 1 / span 1;
                grid-column: 2 / span 1;
            }

            #ea-price {
                grid-row: 3 / span 1;
                grid-column: 2 / span 1;
            }

            .btn-edit-alert {
                grid-row: 1 / span 1;
                grid-column: 3 / span 1;
            }

            .btn-delete-alert {
                background-color: rgb(180, 20, 20);
                grid-row: 3 / span 1;
                grid-column: 3 / span 1;
            }
        }
    }
}
