@import '../../styles/colors';

.form-register {
    display: grid;
    // grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr 0.5fr 1fr 1fr 0.5fr 1fr 1fr 0.5fr 1fr;
    $oneF: minmax(0, 1fr);
    $halfF: minmax(0, 0.5fr);
    grid-template-rows: $oneF $oneF $halfF $oneF $oneF $halfF $oneF $oneF $halfF $oneF $oneF $halfF $oneF;
    grid-template-columns: 1fr 0; // 0 for the tooltip

    width: 80%;
    height: 374px; // 1fr=34px
    margin: 20px;
    font-size: 1rem;

    .btn-register {
        background-color: $color-primary-1;
        color: #fff; // TODO: use variable
        border: 0;
        border-radius: 5px;
        padding: 5px 10px;
        width: 40%;
        margin: 0 auto;
        grid-row: 13 / span 1;

        // maybe add file for button styles
        &:hover {
            background-color: lighten($color-primary-1, $button-lighten-ammount);
        }

        &:active {
            position: relative;
            top: 1px;
        }
    }

    #register-username-label,
    #register-email-label,
    #register-pw-label,
    #register-pw-confirm-label {
        align-self: center;
        justify-self: left;
    }

    #register-username-label {
        grid-row: 1 / span 1;
    }

    #register-username,
    #register-username-tooltip {
        grid-row: 2 / span 1;
    }

    #register-email-label {
        grid-row: 4 / span 1;
    }

    #register-email,
    #register-email-tooltip {
        grid-row: 5 / span 1;
    }

    #register-pw-label {
        grid-row: 7 / span 1;
    }

    #register-pw,
    #register-pw-tooltip {
        grid-row: 8 / span 1;
    }

    #register-pw-confirm-label {
        grid-row: 10 / span 1;
    }

    #register-pw-confirm,
    #register-pw-confirm-tooltip {
        grid-row: 11 / span 1;
    }
}
