@import '../../styles/colors';

.content {
    display: flex;
    flex-grow: 1;
    width: 100%;
    // overflow: hidden; /* TODO remove */
    background-color: $dashboard-background-color;
    margin: 0;

    .container {
        display: flex;
        width: 90%;
        height: 80%;
        margin: auto;
        background-color: $dashboard-container-color;
        font-size: 12px; /* TODO */
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        .side-bar {
            // width: 20%;
            width: 250px;
            position: relative;
            flex-shrink: 0;

            .border-underlay {
                position: absolute;

                width: 100%;
                height: 100%;

                box-sizing: border-box;
                border-right: 1px solid #fff;

                z-index: 1;
            }
        }
    }
}
