.content {
    display: flex;
    width: 100%;
    overflow: hidden; /* TODO remove */
    flex-grow: 1;
    background-color: hsl(234, 24%, 11%);
    margin: 0;

    .container {
        display: flex;
        width: 80%;
        height: 80%;
        margin: auto;
        background-color: hsl(234, 24%, 13%);
        font-size: 12px; /* TODO */
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        .side-bar {
            width: 20%;
            position: relative;
        }
    }
}
