@import '../../styles/config';
@import '../../styles/colors';

.alert-card {
    display: flex;
    height: 100% / $n-cards-showing;
    padding: 5px;
    margin: 5px 0;
    margin-left: 6px; // Accounting for scrollbar width

    &.active {
        background-color: hsl(234, 24%, 15%); // TODO
    }

    .alert-image {
        height: 100%;
        width: 25%;
        flex-grow: 1;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            margin: auto;
        }
    }

    .alert-desc {
        height: 100%;
        // width: 75%;
        width: 120px; // TODO: do this in em
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 15px;
    }

    // span.alert-title {

    // }

    span.alert-target-price {
        color: $color-target-price;
        font-weight: 900;
    }
}
