@import '../../styles/config';
@import '../../styles/colors';

.alert-card {
    display: flex;
    height: 100% / $n-cards-showing;
    padding: 10px 5px;
    margin-left: 6px; // Accounting for scrollbar width

    &.active {
        background-color: $color-primary-0; // TODO
    }

    .alert-image {
        height: 100%;
        width: 25%;
        flex-grow: 1; // grow because the desc will have fixed width

        // Use the available space, but don't go over it
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            margin: auto;
        }
    }

    .alert-desc {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        // width: 75%;
        width: 120px; // TODO: do this in em
        padding: 0 15px;
    }

    span.alert-target-price {
        color: $alert-card-price-color;
        font-weight: 900;
    }
}
