@import '../../styles/colors';

$tooltip-color: $color-primary-1;

/* Tooltip text */
.tooltip {
    visibility: hidden;
    text-align: center;
    width: 160px;
    height: fit-content;
    background-color: $tooltip-color;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: relative;
    z-index: 1;
    top: 50%; // aligning with input
    transform: translate(0, -50%);
    margin-left: 5px; // space for arrow

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

    &.visible {
        visibility: visible;
        opacity: 1;
    }
}

/* Tooltip arrow */
.tooltip::after {
    content: '';
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $tooltip-color transparent transparent;
}
