@import '../../styles/colors';

.spinner-button {
    text-align: center;
    color: #fff; // TODO: use variable
    font-size: 20px;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: $color-secondary-1-2;
    transition: background-color ease-in-out 0.2s;

    &.loading {
        $faded-color: desaturate($color-secondary-1-2, 50);
        cursor: wait;
        background-color: $faded-color;

        &:hover,
        &:active {
            position: unset;
            top: unset;
            background-color: $faded-color;
        }
    }

    &:hover {
        background-color: lighten($color-secondary-1-2, $button-lighten-ammount);
    }

    &:active {
        position: relative;
        top: 1px;
    }
}
