@import '../../styles/colors';

.access-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; // centering
    width: 500px;
    background-color: $color-primary-3;
    border-radius: 40px;

    .access-control-title {
        font-size: 20px;
        font-weight: 800;
        margin: 20px;
    }

    .access-control-redirect-text {
        margin: 10px auto 30px;

        // Using react-router-dom <Link>, that renders an anchor tag
        a {
            text-decoration: none;
            color: $color-primary-1;

            &:hover {
                color: lighten($color-primary-1, $a-lighten-ammount);
            }
        }
    }
}
