.access-control {
    background-color: #1b1f35;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;

    .access-control-title {
        font-size: 20px;
        font-weight: 800;
        margin: 20px;
    }

    .access-control-redirect-text {
        margin: 10px auto 30px;

        // Using react-router-dom <Link>, that renders an anchor tag
        a {
            text-decoration: none;
            color: rgb(50, 50, 206);

            &:hover {
                color: rgb(118, 118, 255);
            }
        }
    }
}
