@import '../../styles/colors';

.btn-new-alert {
    position: absolute;
    bottom: 100%; // putting it above container
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: $color-secondary-1-2;
    color: #fff; // TODO: use variable
    font-size: 20px;
    transition: background-color ease-in-out 0.2s;

    &:hover {
        background-color: lighten($color-secondary-1-2, $button-lighten-ammount);
    }

    &:active {
        position: absolute;
        bottom: calc(100% - 1px);
        top: unset;
    }
}
