.btn-new-alert {
    background-color: rgb(32, 136, 0);
    color: #fff;
    font-size: 20px;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 100%;
    transition: background-color ease-in-out 0.2s;


    &:hover {
        background-color: rgb(53, 184, 13);
    }

    &:active {
        bottom: calc(100% - 1px);
    }
}