@import '../../styles/colors';

$success-accent-color: $color-secondary-1-2;
$error-accent-color: $color-secondary-2-2;

.message-box {
    display: flex;
    flex-direction: column;
    z-index: 99; // on top of everything
    transform: translateX(-50%); // centered
    position: fixed;
    top: 10%;
    left: -50%; // starts outside of view
    width: 300px;
    padding: 10px;
    background-color: $color-primary-4;
    border: 2px solid var(--accent-color);

    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    // transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

    &.showing {
        left: 50%; // move back into view
    }

    // internal theme control
    &.error {
        --accent-color: #{$error-accent-color};
    }

    // internal theme control
    &.success {
        --accent-color: #{$success-accent-color};
    }

    .message-header {
        display: flex;
        align-items: center;

        #message-title {
            transform: translateX(-50%); // centered
            position: absolute;
            left: 50%;
            margin: 20px auto;
            font-weight: 1000;
            color: var(--accent-color);
        }

        #close-message {
            margin-left: auto;
            color: var(--accent-color);

            &:hover {
                cursor: pointer;
            }
        }
    }

    .messages {
        .bullet {
            color: var(--accent-color);
        }
    }
}
